.s-servicos {
  .container {
    padding-top: 144px;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    margin-top: 64px;

    .service {
      width: 100%;
      min-height: 248px;

      padding: 32px;

      border: 1px solid #d4d4d8;
      border-radius: 4px;

      &:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: none;

        .service-description {
          text-align: center;
        }

        .download-pdf {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 80px;

          margin-top: 8px;

          color: #000000;

          font-weight: 700;
          font-size: 14px;
          line-height: 1.2;

          border: 1px solid #d4d4d8;
          border-radius: 4px;

          .download-icon {
            width: auto;
            height: 32px;

            margin-right: 10px;
          }
        }
      }

      .service-icon {
        width: auto;
        height: 56px;
      }

      .service-title {
        margin: 8px 0;

        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;

        color: #000000;
      }

      .service-description {
        font-size: 14px;
        line-height: 1.5;

        color: #71717a;
      }
    }
  }
}

@media (max-width: 1100px) {
  .s-servicos {
    .services {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 768px) {
  .s-servicos {
    .services {
      grid-template-columns: 1fr;
    }
  }
}